.container {
  margin-bottom: -1px;
  margin-top: 1px;
  border-bottom: 1px solid #EAEAF1;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 60px;
  padding: 12px 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.titleIcon {
  margin-right: 16px;
  width: 20px;
  height: 20px;
  color: #121223;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #121223;
}

.icon {
  color: #A2A2AD;
}

:global
{
  .is__dark
  {
    :local
    {
      .body
      {
        border-top: 1px solid rgba(255,255,255,0.1);
      }
    }
  }
}

.body {
  border-top: 1px solid #EAEAF1;
  max-height: 0;
  transition: max-height 100ms ease;

  &.open {
    max-height: 500px;
    overflow:auto;
  }

  &.responsive.open {
    max-height: 800px;
    overflow:auto;
  }

  &:not(.open) {
    border-top: none;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
