:global {
  .is__dark {
    :local {
      .collectionDescription {
        :global {
          .box {
            background: #4d4d4d !important;
          }
        }
      }
    }
  }
}

.collectionDescription {
  display: flex;
  .logo img {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }
  }
  p {
    margin-top: 10px;
    white-space: pre-wrap;
  }
  .ownedby {
    font-size: 14px;
    color: #c8c8c8;
    span {
      color: #00a59a;
    }
    a {
      color: #00a59a;
    }
  }
  .links {
    display: flex;
    align-items: center;
    a {
      margin-right: 5px;
    }
    .address {
      font-size: 13px;
      color: white;
      background: #00a59a;
      padding: 2px 10px;
      width: fit-content;
      border-radius: 30px;
      display: flex;
      align-items: center;
      svg {
        margin-left: 5px;
      }
    }
  }

  .linksAlt {
    display: flex;
    align-items: center;
    .bullet {
      font-size: 13px;
      color: #aaa;
      background: #f5f5f5;
      padding: 2px 10px;
      width: fit-content;
      border-radius: 30px;
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  :global {
    .box:last-child {
      margin-right: 0;
    }

    .box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      border-radius: 10px;
      background: #fcfcfc;
      border: 0;
      -webkit-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.05);

      font-weight: bold;
      color: #868686;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      span {
        color: #00a59a;

        font-size: 26px;
      }
    }
  }
}

.share_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  .share_group
  {
    display:flex;
    flex-direction: row;
    gap:6px;
  }
}

.multichain_wrapper {
  font-size: 16px;
  color: white;
  background: #00a59a;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 2px 4px #7e8eb11f !important;
  padding: 4px 6px 4px 16px;
  span
  {
    margin-right:30px;
  }
  .multichain {
    padding: 2px 16px;
    border-radius: 30px;
    font-size: 12px;
    color: #4b4b4b !important;
    background: white;
    margin-left: 6px;
    text-transform: uppercase;
    display:flex;
    align-items: center;
    justify-content: center;
    
    img
    {
      width:auto;
      height:14px;
      margin-right:3px;
    }
  }
}

:global {
  .is__dark {
    :local {
      .bullet {
        background: #4d4d4d !important;
        color: white !important;
      }
    }
  }
}
